.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.area{
    background-color: rgb(66, 157, 241);
    width: 29vw;
    height: 43vh;
    flex-direction: row;
    margin: 5vh;

}

.input{
    margin: 3vh;
    width: 25vw;
    height: 5vh;

}

.btn{

    width: 50vw;
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: 500;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.botao{
    margin: 1vh;
    width: 25vw;
    background-color: rgb(235, 235, 235);
    padding: 5px;
    border-radius: 10px;
}